<h1 id="title">Sección de Productos</h1>

<!-- 
    lg -> LARGER
    lg: tamaño de pantalla más grande -> PC, TELEVISOR

    md -> MEDIA
    md: tamaño de pantalla mediano/ medio -> TABLET

    sm -> SMALL
    sm: tamaño de pantalla chico -> CELULAR
-->

<div class="container">
    <div class="row">
        <!-- 
            *ngFor -> directiva REPETITIVA para iterar colecciones o arreglos 
            - Funcionalidad similar o misma que repetitiva "for", "forEach"
            - let i -> definición de la variable que representa un elemento
            de la colección "infoTarjeta" (permite iterar)
        -->
        <div *ngFor="let i of infoTarjeta" class="col-lg-3 col-md-6 col-sm-12 col-xs-12 mb-4">
            <div class="card">
                <!-- {{ i.propiedad }} -> interpolación para propiedades -->
                <img src="{{ i.img }}" class="card-img-top" alt="{{ i.alt }}">

                <div class="card-body">
                    <h5 class="card-title">{{ i.titulo }}</h5>
                    <p class="card-text">
                        {{ i.descripcion }}
                    </p>
                    <p class="card-text">
                        {{ i.fechaPostal | date: 'yy/MM/dd' }} - ${{ i.precio }}
                    </p>

                    <a href="#" class="btn btn-action">Ver más</a>
                </div>
            </div>
        </div>
    </div>
</div>